body {
    margin: 0px;
    background-color: #F6F5F1;
}
@font-face {
    font-family: Canela;
    src: url('canela-bold.ttf');
}
@font-face {
    font-family: Canela regular;
    src: url('Canela-Regular.ttf');
}
.header {
    background-color: rgb(18, 34, 34);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    flex: 1 1 auto;
    padding-top: 20px;
    
}

.body {
    display: flex;
    justify-content: center;
}

.top {
    display: flex;
    justify-content:space-between;
    align-content: center;
    
    
    
    
}

.top-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    flex: 1 1 auto;
}


.banner {
    display: flex;
    width: 200px;
    height: auto;
    margin-left: 150px;
    flex: 0 1 auto;
    border-radius: 10px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 14px;
    
}

.title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title p {
    margin-top: 40px;
    font-size: 18px;
    color: #e5e7eb;
}
.main-image {
    width: 450px;
    height: auto;
    margin-bottom: 15px;
    flex: 0 1 aut;
    border-radius: 50px;
    box-shadow: 5px 5px 20px black;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:rgb(253, 172, 72);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #f9faf8;
    font-weight: 700;
    border: 0px;
    flex: 0 1 auto;
    border-radius: 10px;
    text-align: center;
    margin: 15px;

}

.selection-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 25px;
    
    
}

.selection-text img {
    height: 70px;
    width: auto;
    
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.selection-image {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.selection-image img {
    width: 200px;
    height: 200px;
    flex: 0 1 auto;
    border:rgb(18, 34, 34);
    border-radius: 6px;
    border-style: groove;
}



.subtext {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 240px;
    margin-right: 230px;
}

.subtext p {
    font-size: 18px;
    color: #949597;
    flex: 0 1 auto;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    margin-top: 60px;
    flex: 1 1 auto;
}

.quote p {
    color: #1f2937;
    font-size: 18px;
    font-style: italic;
    flex: 1 1 auto;
    font-weight: 100;
    margin-left: 70px;
    margin-right: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.pop-up {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    flex: 1 1 auto;
}

.donate-button {
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 60px;
    font-size: 20px;
   
}

.pop-up strong {
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    background-color: rgb(18, 34, 34);
    align-items: center;
    padding: 10px;
    gap: 15px;
    flex: 1 1 auto;
    

}

.footer img {
    width: 100px;
    height: auto;
}